[KSplash Theme: PhyNet]
Name = KDE Phy.net Splash Theme
Description = KDE Phy.net Splash Theme.
Engine = Default
Icons Flashing = true
Message1 = Hello :)
Message1[pl] = Witaj :)
Message2 = Hello :)
Message2[pl] = Witaj :)
Message3 = I'm loading up ...
Message3[pl] = Uruchamiam ...
Message4 = Mmmmmmm ...
Message5 = Ooochh ...
Message6 = Umchmmm ...
Message7 = Aha ...
Message8 = I'm ready :)
Message8[pl] = Jestem gotowa :)
